
$body-color: #43616f;
$body-gb: #fff;
$font-size-base: 0.925rem;

// recomandação do javascript
//@import url("bootstrap/scss/bootstrap");
// inscrito pelo professor
@import "~bootstrap/scss/bootstrap";